.month-wise-spends-main-container {
  display: flex;
  flex-direction: column;
}
.monthly-list-of-spends-container {
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.monthly-list-of-spends-container > ul {
  width: 100%;
  height: 100%;
  list-style: none;
  padding-bottom: 5px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.center-the-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/* loader */

.Loader-spinner-outer {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: conic-gradient(
    transparent 0deg,
    transparent 45deg,
    var(--background-color) 45deg,
    var(--background-color) 90deg,
    transparent 90deg,
    transparent 135deg,
    var(--background-color) 135deg,
    var(--background-color) 180deg,
    transparent 180deg,
    transparent 225deg,
    var(--background-color) 225deg,
    var(--background-color) 270deg,
    transparent 270deg,
    transparent 315deg,
    var(--background-color) 315deg
  );
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spinner 0.7s linear infinite backwards;
}
.loader-spinner-inner {
  width: 43px;
  height: 43px;
  background-color: #fff;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0px;
}
@keyframes spinner {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
