.calendar-section-main-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* calendarDates.jsx file styling */

.calendar-dates-main-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.calendar-dates-main-container > li {
  min-width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
}

.calendar-dates-main-container > li > .month {
  font-weight: bolder;
  font-size: 10px;
}

.calendar-dates-main-container > li > .date {
  font-weight: bolder;
  font-size: 25px;
}
.calendar-dates-main-container > li > .day {
  font-weight: bolder;
  font-size: 10px;
}
.active {
  background-color: var(--background-color);
  color: #fff;
  scroll-snap-align: center;
}

.in-active {
  background-color: #fff;
  color: #000;
  border: solid #000 1px;
}
