.home-main-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 55px;
}

/* salary-percentage.jsx file styling */

.remaing-salary-percentage-main-container {
  height: 130px;
  background: var(--background-container-color);
  margin-top: 5px;
  padding: 22px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
}

.salary-percentage-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.remaing-salary-container-content {
  height: 100%;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: start;
  color: #fff;
}
.remaing-salary-container-content > p {
  font-size: 14px;
}
.remaing-salary-container-content > .link {
  text-decoration: none;
}
.remaing-salary-container-content > .link > button {
  font-weight: 550;
  font-size: 11px;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
}
.salary-percentage-container {
  background-image: conic-gradient(#fff 270deg, #80808067 90deg);
  height: 100px;
  width: 100px;
  border-radius: 100px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.salary-percentage-inner-container {
  background-color: var(--background-color);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
}

.salary-percentage-main-container > button {
  background-color: #ffffff68;
  height: 20px;
  padding: 0px 3px 1px 3px;
  border-radius: 6px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  align-self: flex-start;
  cursor: pointer;
}

/* spendGroups.jsx file styling */

.spend-groups-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 0px 3px;
}

.spend-groups-main-container > h3 {
  font-weight: bolder;
}

.spend-groups-sup-container {
  border: solid #000 1px;
}

.spend-groups-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 15px;
  border: solid black 1px;
  border-radius: 15px;
}

.spend-groups-left-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.spend-groups-left-container > .left-image-container {
  font-size: 20px;
}

.spend-groups-left-container > .left-content-container {
  font-size: 12px;
}
.spend-groups-left-container > .left-content-container > .group-name {
  font-weight: 600;
  font-size: 13px;
}

.spend-groups-right-container {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear;
}

.spend-groups-right-inner-container {
  background-color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}
.Percentage {
  animation: rotation 2.5s linear 0s infinite;
}
@keyframes rotation {
  0% {
    transform: scale(1.1) rotate(0deg);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1) rotate(360deg);
  }
}

/* recentspends.jsx file styling */

.recent-spends-main-container {
  padding: 5px 3px;
}

.recent-spends-main-container > h3 {
  font-weight: bolder;
}

.recent-spends-main-container > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  overflow: scroll;
  border-radius: 10px;
}
.recent-spends-main-container > ul > li {
  min-width: 300px;
  height: 100px !important;
}

.recent-spends-main-container > ul > li > div > .spend-item-name {
  font-size: 12px;
  font-weight: 600;
  height: 23px !important;
  text-overflow: ellipsis !important;
  overflow-x: hidden;

  max-width: 190px;
}
/* .recent-spends-main-container > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--card-bg);
  color: #000;
  border-radius: 10px;
  min-width: 250px;
  height: 130px;
  overflow: scroll;
  padding: 5px 15px;
}

.recent-spends-main-container > ul > li > .spend-type-color {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent-spends-main-container > ul > li > .spend-amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.spend-name {
  font-size: 15px;
  font-weight: 600;
} */
