* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: cursive; */
  font-family: "Exo";
}

:root {
  --background-color: #2e0776;
  --background-container-color: linear-gradient(
    to left,
    #2e0776,
    #370593,
    #4308b0
  );
  --card-bg: #aeb7e480;
  --container-color: #470853;
}
.App {
  padding: 5px 10px;
  user-select: none;
  background-color: #fff;
  min-height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}
